<div class="application-wrapper">

    <div class="wrapper-header" [ngClass]="{'positive': total > 0, 'negative': total < 0 }">
        <div class="title">Состояние бюджета:</div>
        <div class="total">{{ total }}</div>
        <div class="joke" [ngClass]="{'active': total < 0 }">Похоже ВАШИ финансы поют романсы</div>
    </div>

    <edm-add (render)="render()"></edm-add>

    <div class="wrapper-body">
        <div class="budget-list">

            <div class="income-list">
                <div class="item" *ngFor="let l of incomeList">
                    <div class="title" (click)="edit(l.id)">{{ l.title }}</div>
                    <div class="amount">{{ l.amount }}</div>
                    <span class="close" (click)="delete(l.id)"></span>
                </div>
            </div>

            <div class="outcome-list">
                <div class="item" *ngFor="let l of outcomeList">
                    <div class="title" (click)="edit(l.id)">{{ l.title }}</div>
                    <div class="amount">{{ l.amount }}</div>
                    <span class="close" (click)="delete(l.id)"></span>
                </div>
            </div>

        </div>
    </div>
</div>
<edm-edit *ngIf="showEdit" (toggleEdit)="toggleEdit()" [bill]="bill" (render)="render()"></edm-edit>