<div class="application-wrapper">

    <div class="wrapper-header">
        <div class="title">Состояние бюджета:</div>
        <div class="total">0</div>
    </div>

    <edm-add></edm-add>

    <div class="wrapper-body">
        <div class="budget-list">

            <div class="income-list">
                <div class="item">
                    <div class="title"></div>
                    <div class="amount"></div>
                </div>
            </div>

            <div class="outcome-list">
                <div class="item">
                    <div class="title"></div>
                    <div class="amount"></div>
                </div>
            </div>

        </div>
    </div>

    <edm-edit></edm-edit>

</div>