<div class="application-wrapper">

    <div class="wrapper-header" [ngClass]="{'positive': total > 0, 'negative': total < 0 }">
        <div class="title">Состояние бюджета:</div>
        <div class="total">{{ total }}</div>
    </div>

    <edm-add></edm-add>

    <div class="wrapper-body">
        <div class="budget-list">

            <div class="income-list">
                <div class="item" *ngFor="let l of incomeList">
                    <div class="title">{{ l.title }}</div>
                    <div class="amount">{{ l.amount }}</div>
                </div>
            </div>

            <div class="outcome-list">
                <div class="item" *ngFor="let l of outcomeList">
                    <div class="title">{{ l.title }}</div>
                    <div class="amount">{{ l.amount }}</div>
                </div>
            </div>

        </div>
    </div>

    <edm-edit></edm-edit>

</div>