/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    outline: none;
}
html, body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    background: #f8f8f8;
}

.application-wrapper {
    max-width: 1200px;
    margin: 30px auto;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, 0.6);

    .wrapper-header {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 130px;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        margin: 0 0 30px;
        padding: 50px 0;

        .title {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 10px;
            margin-bottom: 0px;
        }

        .total {
            font-weight: 700;
            font-size: 38px;
            line-height: 1;
            letter-spacing: -1px;
        }
        
    }
    .wrapper-header.negative .total {
        color: #e83a3a;
    }

    .wrapper-header.positive .total {
        color: #1dab21;
    }

    .forw-wrapper {
        position: relative;
        margin: 0 0 50px;
        padding: 0 50px;

        form.horisontal-form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 -15px;

            .form-item {
                flex-basis: 20%;
                padding: 0 15px;

                input {
                    width: 100%;
                    height: 48px;
                    border: 1px solid #dadada;
                    box-shadow: none !important;
                    border-radius: 10px;
                    padding: 5px 15px;
                    font-size: 15px;
                    color: #000;
                }
            }
            .form-item + .form-item {
                flex-basis: 60%;
            }
            .submit-form {
                flex-basis: 20%;
                width: calc(100% - 30px);
                height: 48px;
                margin: 0 15px;
                background: green;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 1px;
                border-radius: 10px;
                border: 0px;
                cursor: pointer;
            }
            .submit-form[disabled] {
                opacity: 0.6;
                cursor: default;
            }
        }
    }

    .wrapper-body {
        padding: 0;
        position: relative;

        .budget-list {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0;

            .income-list,
            .outcome-list {
                flex-basis: 50%;
                padding: 0 70px;

                .item {
                    width: 100%;
                    height: auto;
                    margin: 0 0 25px;
                    padding: 20px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border-radius: 10px;
                    position: relative;

                    .title {
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                        cursor: pointer;
                    }

                    .amount {
                        padding: 3px 9px;
                        border-radius: 6px;
                        font-size: 14px;
                        color: #fff;
                        letter-spacing: 0px;
                    }

                    .close {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        display: block;
                        background: #2d2d2d;
                        border-radius: 50%;
                        top: -10px;
                        right: -10px;
                        opacity: 0;
                        transform: scale(0);
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }

                    .close:before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        background: red;
                        transform: rotate(45deg);
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                    }
                    .close:after {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        background: red;
                        transform: rotate(135deg);
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                    }
                }

                .item:hover .close {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            .income-list {

                .item {
                    background: #e1ffe1;

                    .amount {
                        background: #47a247;
                    }
                }
            }

            .outcome-list {

                .item {
                    background: #ffe1e1;

                    .amount {
                        background: #e83a3a;
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.popupWindow {
    position: fixed;
    width: 860px;
    height: 160px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;

    .popupTitle {
        font-size: 22px;
        margin: 0 0 20px;
        font-weight: 600;
    }

    form.horisontal-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -15px;

        .form-item {
            flex-basis: 20%;
            padding: 0 15px;

            input {
                width: 100%;
                height: 48px;
                border: 1px solid #dadada;
                box-shadow: none !important;
                border-radius: 10px;
                padding: 5px 15px;
                font-size: 15px;
                color: #000;
            }
        }
        .form-item + .form-item {
            flex-basis: 60%;
        }
        .submit-form {
            flex-basis: 20%;
            width: calc(100% - 30px);
            height: 48px;
            margin: 0 15px;
            background: green;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            border-radius: 10px;
            border: 0px;
            cursor: pointer;
        }
        .submit-form[disabled] {
            opacity: 0.6;
            cursor: default;
        }
    }
}







